<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Device Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- Call State Permissions -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--    <uses-permission android:name="android.permission.CALL_PHONE" />-->
    <!-- <uses-permission android:name="android.permission.ANSWER_PHONE_CALLS" /> -->
    <!--    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />-->
    <!-- Post Notification(FOR ANDROID API 33 or PLUS) -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <!-- Android Boot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- Screen Overlay -->
    <uses-permission android:name="android.permission.ACTION_MANAGE_OVERLAY_PERMISSION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <!-- <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" /> -->
    <!-- Device Foreground Service -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!-- Device AD_ID -->
    <uses-permission android:name="com.google.android.gms.permission.AD_ID" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />

    <!-- used to send text msg/open default msg app -->
    <queries>
        <package android:name="com.google.android.apps.messaging" />
        <package android:name="com.google.android.gm" />
    </queries>

    <application>

        <activity
            android:name=".ui.activity.CallerSettingActivity"
            android:allowEmbedded="true"
            android:allowTaskReparenting="true"
            android:excludeFromRecents="true"
            android:exported="true"
            android:noHistory="true"
            android:screenOrientation="nosensor"
            android:theme="@style/Caller.Main.Theme" />

        <activity
            android:name=".ui.activity.CallerIdActivity"
            android:allowTaskReparenting="true"
            android:exported="true"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            android:theme="@style/Caller.Main.Theme"
            android:windowSoftInputMode="adjustPan" />

        <receiver
            android:name=".receivers.OgCallerIdReminderReceiver"
            android:enabled="true" />
        <receiver
            android:name=".receivers.OgCallerIdBootReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.ACTION_BOOT_COMPLETED" />
                <action android:name="android.intent.action.REBOOT" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <action android:name="com.htc.intent.action.QUICKBOOT_POWERON" />
                <action android:name="android.intent.action.ACTION_SHUTDOWN" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".receivers.OgCallerIdCallReceiver"
            android:enabled="true"
            android:exported="true"
            android:permission="android.permission.READ_PHONE_STATE">
            <intent-filter android:priority="998">
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <service
            android:name=".receivers.CIdForegroundService"
            android:exported="false"
            android:foregroundServiceType="phoneCall"
            android:theme="@style/Caller.Main.Theme" />
        <service
            android:name=".receivers.CIdLegacyForegroundService"
            android:exported="false"
            android:foregroundServiceType="phoneCall"
            android:theme="@style/Caller.Main.Theme" />

    </application>

</manifest>